<header>
    <app-navigation></app-navigation>
    <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel" data-interval="500">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="banner" style="background-image:url(../../../assets/img/background/bg1.png);"></div>
            <div class="carousel-caption d-none d-md-block">
              <h5>Des Paysages de reve</h5>
              <p>Decor paradisiaque,un vrai plaisir pour les yeux.</p>
            </div>
          </div>
          <div class="carousel-item">
            <div class="banner" style="background-image:url(../../../assets/img/background/bg2.png);"></div>
            <div class="carousel-caption d-none d-md-block">
              <h5>Lieu calme et Spacieu</h5>
              <p>Le lieux ideal pur vous detendre et se ressourcer.</p>
            </div>
          </div>
          <div class="carousel-item">
            <div class="banner" style="background-image:url(../../../assets/img/background/bg3.png);"></div>
            <div class="carousel-caption d-none d-md-block">
              <h5>Relaxer vous et oublier vos soucis</h5>
              <p>le spa.sauna et piscine sont a votre disposition </p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</header>
