<nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
  <div class="container-fluid pt-2">
    <a class="navbar-brand">Hotel</a>
    <div class="navbar-collapse" id="navigation">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <form class="d-flex">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
          </form>
        </li>
        <li class="nav-item">
          <i class="tim-icons icon-zoom-split pt-2"></i>
          <span class="d-lg-none d-md-block"> Search </span>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
  <div class="container-fluid">
    <div class="navbar-wrapper">
      <div class="navbar-toggle d-inline">
        <h1 class="navbar-brand">Hotel</h1>
      </div>
    </div>
    <div class="navbar-collapse" id="navigation">
      <ul class="navbar-nav ml-auto pt-3">
        <li class="nav-item">Test 1</li>
        <li class="nav-item">Test 2</li>
        <li class="nav-item">Test 3</li>
        <li class="nav-item">Test 4</li>
      </ul>
    </div>
  </div>
</nav> -->
