<form>
  <!-- Select Compte -->
  <div class="col-10 offset-1">
    <input
      type="text"
      class="form-control"
      name="compteId"
      [(ngModel)]="compteId"
      *ngIf="mouvement.Id != 0"
      disabled
    />
    <label for="compteId" class="form-label text-black">Compte</label>
    <select
      name="compteId"
      id="compteId"
      class="form-control text-black mb-0"
      [(ngModel)]="compteId"
      *ngIf="mouvement.Id == 0"
    >
      <option
        class="text-black"
        *ngFor="let compte of mouvement_compteTypesList$ | async"
        [value]="compte.Id"
        [selected]="compte.intituleCompte"
      >
        {{ compte.intituleCompte }}
      </option>
    </select>
  </div>

  <!-- Select Ecriture -->
  <div class="col-10 offset-1">
    <label for="inspectionTypeId" class="form-label text-black">Ecriture</label>
    <select
      name="ecritureId"
      id="ecritureId"
      class="form-control text-black mb-3"
      [(ngModel)]="ecritureId"
      *ngIf="mouvement.Id == 0"
    >
      <option
        *ngFor="let ecriture of mouvement_ecritureTypesList$ | async"
        [value]="ecriture.Id"
        [selected]="ecriture.libelleEcriture"
      >
        {{ ecriture.libelleEcriture }}
      </option>
    </select>
  </div>

  <div class="col-10 offset-1">
    <input
      type="number"
      class="form-control text-black mb-3"
      placeholder="Débit"
      [(ngModel)]="debit"
      name="debit"
    />
  </div>

  <div class="col-10 offset-1">
    <input
      type="number"
      class="form-control text-black mb-3"
      placeholder="Crédit"
      [(ngModel)]="credit"
      name="credit"
    />
  </div>
</form>

<div class="d-flex justify-content-center">
  <button
    (click)="addMouvement()"
    *ngIf="mouvement.Id == 0"
    class="btn btn-primary"
  >
    Ajouter
  </button>
  <button
    (click)="updateMouvement()"
    *ngIf="mouvement.Id != 0"
    class="btn btn-primary"
  >
    Modifier
  </button>
</div>
