<!-- Modal -->
<div class="modal fade" id="CategorieModal" tabindex="-1" aria-labelledby="ModalClient" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{currentAction}} Categorie</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form #categoryForm="ngForm">
          <div class=" row">
            <div class=" col-md-12">
              <div class=" form-group">
                <label> Designation </label>
                <input class=" form-control" placeholder="Designation" type="text" name="designation" 
                #designation="ngModel" 
                required
                [class.is-invalid]="designation.touched && designation.invalid"
                [(ngModel)]="currentCategory.designation" />
              </div>
            </div>
            <small class="text-danger" [class.d-none]="designation.untouched || designation.valid">La designation est requise</small>
            <div class=" col-md-12">
              <div class=" form-group">
                <label> Description </label>
                <textarea class=" form-control" placeholder="Description" type="text" name="description" [(ngModel)]="currentCategory.description"></textarea>
              </div>
            </div>
          </div>
          <div class=" row">
            <div class=" col-md-12">
              <div class=" form-group">
                <label> Prix </label>
                <input class=" form-control" placeholder="Prix" type="number" name="price" 
                #prix="ngModel" 
                required
                [class.is-invalid]="prix.touched && prix.invalid"
                [(ngModel)]="currentCategory.price" />
              </div>
              <small class="text-danger" [class.d-none]="prix.untouched || prix.valid">Le prix est requis</small>
            </div>
          </div>
          <div class=" form-group">
            <label> Image </label>
          </div>
          <ng-container *ngIf="currentCategory.image; else elseTemplate">
            <app-showpic [images]="currentCategory.image"></app-showpic>
            <button class="btn btn-info" (click)="rechoose()">Re choisir</button>
          </ng-container>
          <ng-template #elseTemplate>
            <app-upload (onUploadFinished)="uploadFinished($event)"></app-upload>
          </ng-template>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <span [ngSwitch]="currentAction">
          <span *ngSwitchCase="'Modifier'">
            <button type="button" class="btn btn-primary" (click)="updateCategory()" data-bs-dismiss="modal">Modifier</button>
          </span>
          <span *ngSwitchCase="'Ajouter'">
            <button type="button" class="btn btn-primary" (click)="addCategory()" data-bs-dismiss="modal">Ajouter</button>
          </span>
          <p *ngSwitchDefault>
          </p>
        </span>
        
      </div>
    </div>
  </div>
</div>

<!-- Modal Delete-->
<div class="modal fade" id="deleteCategorie" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel">Supprimer la categorie</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-center">
        Voulez vous vraiment supprimer la categorie "{{currentCategory.designation}}"
        <p>
          <b class="form-text text-muted text-center mt-3">Attention toute les chambres ayant cette categorie sera aussi supprimer</b>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="deleteCategory()">Supprimer</button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="tableau">
    <div class="t-header">
      <h1>Category</h1>
    </div>
    <div class="card-body">
      <div class="action">
        <button type="button" class="btn btn-primary ml-auto" data-bs-toggle="modal" data-bs-target="#CategorieModal" (click)="ajouterCategory()">
          Ajouter
        </button>
      </div>
      <table class="table table-bordered table-striped table-hover" datatable [dtOptions]="dtOptions"
        [dtTrigger]="dtTrigger">
        <thead>
          <tr class="text-center">
            <th>Designation</th>
            <th>Description</th>
            <th>Prix</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cat of AllCategory" class="text-center">
            <td>{{cat.designation}}</td>
            <td>{{cat.description}}</td>
            <td>{{cat.price}} Ar</td>
            <td class="td-action text-center">
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#CategorieModal" (click)="ModifierCategory(cat)">
                <fa-icon [icon]="FaModif"></fa-icon>
              </button>
              <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteCategorie" (click)="supprimerCategory(cat)">
                <fa-icon [icon]="FaDel"></fa-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
