<div>
  <!-- Modal -->
  <div class="modal fade" id="RoomModal" tabindex="-1" aria-labelledby="ModalChambre" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal Chambre</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class=" row">
              <div class=" col-md-12">
                <div class=" form-group">
                  <label> Numero de chambre </label>
                  <input class=" form-control" placeholder="" type="number" name="numero"
                    [(ngModel)]="currentRoom.number" />
                </div>
              </div>
              <div class=" col-md-12">
                <div class=" form-group">
                  <label> Type </label>
                  <textarea class=" form-control" placeholder="Description" type="text" name="type"
                    [(ngModel)]="currentRoom.type"></textarea>
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-12">
                <div class="form-group">
                  <label for="">Categorie</label>
                  <select class="form-control" name="category" [(ngModel)]="currentRoom.category.id" id="">
                    <option *ngFor="let cat of Category" value={{cat.id}}>{{cat.designation}}</option>
                  </select>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <span [ngSwitch]="currentAction">
            <span *ngSwitchCase="'Modifier'">
              <button type="button" class="btn btn-primary" (click)="updateRoom()"
                data-bs-dismiss="modal">Modifier</button>
            </span>
            <span *ngSwitchCase="'Ajouter'">
              <button type="button" class="btn btn-primary" (click)="addRoom()" data-dismiss="modal">Ajouter</button>
            </span>
            <span *ngSwitchDefault>
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Delete-->
  <div class="modal fade" id="deleteRoom" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalLabel">Supprimer la chambre</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Voulez vous vraiment supprimer la chambre numero <b>{{currentRoom.number}}</b>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          <button type="button" class="btn btn-primary">Supprimer</button>
        </div>
      </div>
    </div>
  </div>
    <div class="container">
      <div class="tableau">
        <div class="t-header">
          <h1>Chambre</h1>
        </div>
        <div class="card-body">
          <div class="action">
            <button type="button" class="btn btn-primary ml-auto" data-bs-toggle="modal" data-bs-target="#RoomModal"
              (click)="ajoutRoom()">
              Ajouter
            </button>
          </div>
          <table class="table table-bordered table-striped table-hover" datatable [dtOptions]="dtOptions"
            [dtTrigger]="dtTrigger">
            <thead>
              <tr class="text-center">
                <th>Numero de Chambre</th>
                <th>Type</th>
                <th>Category</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let room of Rooms" class="text-center">
                <td>{{room.number}}</td>
                <td>{{room.type}}</td>
                <td>{{room.category.designation}}</td>
                <td class="td-action text-center">
                  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#RoomModal"
                    (click)="modifierRoom(room)">
                    <fa-icon [icon]="FaModif"></fa-icon>
                  </button>
                  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteRoom" (click)="deleteRoom(room)">
                    <fa-icon [icon]="FaDel"></fa-icon>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
  </div>
