@import "../../styles/logistique.scss";
.navbar-nav a{
    color:#fff;
}
.navbar .navbar-brand{
    position: initial;
    font-size: 20px;
    font-weight: 900;
    padding: 10px 15px;
    font-family: Poppins-Regular;
}

.nav-transparent{
    background-color: transparent !important;
    border-color: transparent;
}

.nav-transparent.nav-black{
    background-color: black!important;
}
.nav-transparent.nav-blacks{
    background-color: black!important;
}
.modal.show .modal-dialog {
    transform: translate(0, 10%);
}
.navbar-nav.navbar-right{
    margin: 15px 0;

    a{
        text-transform: uppercase;
    }
}
.navbar-toggler{
    color: #fff;
}

p{
    color: #4D4D4D;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: #0098f0,
}

.inscription{
    color: lightseagreen;
    cursor: pointer;
}