
.video_bg {
    background-image: url(../../assets/img/background/bg_nosy.jpg);
    background-attachment: fixed;
    font-family: Poppins-Regular;
}

.features_room{
    background-color: #fff;
    font-family: Poppins-Regular;
}