<div class>
  <div class="modal fade" id="ReservationModal" tabindex="-1" aria-labelledby="ModalChambre" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{currentAction}} Reservation</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form   #resForm="ngForm">
            <div class=" row">
              <div class=" col-md-12">
                <div class=" form-group">
                  <label for="#client"> Client </label>
                  <select class="form-control" name="category" [(ngModel)]="currentReservation.client.id" id="client">
                    <option *ngFor="let cli of Clients" value={{cli.id}}>
                      {{getClientName(cli)}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-12">
                <div class=" form-group">
                  <label for="#client"> Chambre </label>
                  <select class="form-control" name="category" [(ngModel)]="currentReservation.room.id" id="client">
                    <option *ngFor="let ro of Room" value={{ro.id}}>
                      {{ro.number}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class=" col-md-12">
                <div class=" form-group">
                  <label> Date de reservation </label>
                  <input class=" form-control" placeholder="" type="date" name="reservation"
                    #dres="ngModel"
                    required
                    [class.is-invalid]="dres.touched &&( dres.invalid || currentReservation.dateDebut<currentReservation.dateReservation)"  
                    [(ngModel)]="currentReservation.dateReservation" />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-6">
                <div class=" form-group">
                  <label for="#datedeb"> Debut du sejour </label>
                  <input class=" form-control" placeholder="" type="date" name="debut"
                    #ddeb="ngModel"
                    required
                    [class.is-invalid]="ddeb.touched && ddeb.invalid"  
                    [(ngModel)]="currentReservation.dateDebut" />
                </div>
              </div>
              <div class=" col-md-6">
                <div class=" form-group">
                  <label for="#datefin"> Fin du Sejour </label>
                  <input class=" form-control" placeholder="" type="date" name="fin"
                    #dfin="ngModel"
                    required
                    [class.is-invalid]="dfin.touched && (currentReservation.dateFin<currentReservation.dateDebut || dfin.invalid)"  
                    [(ngModel)]="currentReservation.dateFin" />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-12">
                <div class="form-group">
                  <label for="">Nombre de Personne</label>
                  <input class=" form-control" placeholder="" type="number" name="nbr"
                    #pnbr="ngModel"
                    required
                    [class.is-invalid]="pnbr.touched && pnbr.invalid"  
                    [(ngModel)]="currentReservation.nbrPerson" />
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <span [ngSwitch]="currentAction">
            <span *ngSwitchCase="'Modifier'">
              <button type="button" class="btn btn-primary"
                data-bs-dismiss="modal" (click)="updateReservation()">Modifier</button>
            </span>
            <span *ngSwitchCase="'Ajouter'">
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="addReservation()">Ajouter</button>
            </span>
            <span *ngSwitchDefault>
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Delete-->
  <div class="modal fade" id="deleteReservation" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="ModalLabel">Supprimer la chambre</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Voulez vous vraiment supprimer cette reservation?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          <button type="button" class="btn btn-primary" (click)="deleteReservation()" data-bs-dismiss="modal">Supprimer</button>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="tableau">
      <div class="t-header">
        <h1>Reservation</h1>
      </div>
      <div class="card-body">
        <div class="action">
          <button type="button" class="btn btn-primary ml-auto" data-bs-toggle="modal" data-bs-target="#ReservationModal" (click)="ajoutReservation()">
            Ajouter
          </button>
        </div>
        <table class="table table-bordered table-striped table-hover" datatable [dtOptions]="dtOptions"
          [dtTrigger]="dtTrigger">
          <thead>
            <tr class="text-center">
              <th>client</th>
              <th>Numero de Chambre</th>
              <th>date de Reservation</th>
              <th>debut du sejour</th>
              <th>fin du sejour</th>
              <th>Nombre de personne</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let reservation of Reservations" class="text-center">
              <td>{{getClientName(reservation.client)}}</td>
              <td>{{reservation.room.number}}</td>
              <td>{{reservation.dateReservation | date}}</td>
              <td>{{reservation.dateDebut | date}}</td>
              <td>{{reservation.dateFin |date}}</td>
              <td>{{reservation.nbrPerson}}</td>
              <td>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#ReservationModal" (click)="modifierReservation(reservation)">
                  <fa-icon [icon]="FaModif"></fa-icon>
                </button>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteReservation" (click)="supprimerReservation(reservation)">
                  <fa-icon [icon]="FaDel"></fa-icon>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
